@import 'init';

// Base styles.
@import 'global/base/grid';
@import 'global/base/overrides';

// Tags.
@import 'global/base/tags';

// Theme overrides.
.vtt {
  @import 'global/application/window';
  @import 'global/application/chat';
  @import 'global/application/sidebar';
  @import 'global/components/combat';
}

.dungeonworld {
  font-family: $font-stack-base;

  textarea {
    resize: vertical;
  }

  .window-content {
    background: $c-white;
  }

  &.actor {
    .window-content {
      position: relative;
      background: $c-white;
      background-image:
        linear-gradient(#dedede, #dedede),
        url('../../assets/heath-alseike-vector-edge.svg');
      background-repeat: no-repeat;
      background-size:
        100% 264px,
        100%;
      background-position:
        0 0,
        0 262px;
      background-attachment: local;

      form {
        position: relative;
        z-index: 1;
      }
    }

    &.npc {
      .window-content {
        background-size:
          100% 230px,
          100%;
        background-position:
          0 0,
          0 228px;
      }
    }
  }

  // Import components, scoped within the sheet.
  &.sheet {
    // Generic.
    @import 'global/base/input';
    @import 'global/base/sheet-wrapper';
    @import 'global/base/cell';
    @import 'global/components/tabs';
    // Specific.
    @import 'global/components/item-form';
    // @import 'global/components/tags';
    @import 'global/components/header';
    @import 'global/components/attributes';
    @import 'global/components/abilities';
    @import 'global/components/biography';
    @import 'global/components/moves';
    @import 'global/components/look';
    @import 'global/components/npc';
    @import 'global/components/dw-level-up';
    @import 'global/components/class';
  }
}

// Language overrides.
.lang-de {
  .ability {
    .cell__title {
      font-size: 12px;
    }
  }
}
